dialog {
  max-width: 430px;
  width: 100%;
  position: fixed;
  top: 195px;

  border-radius: 8px;
  border: none;

  font-family: "inter", sans-serif;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.profile__edit-form {
  display: flex;
  flex-direction: column;
}

.profile__close-button {
  position: absolute;
  display: flex;
  top: -40px;
  right: -40px;
  background: none;
  border: none;
  cursor: pointer;
  background-color: black;
}

.profile__close-button:hover {
  opacity: 0.7;
}

.profile__edit-form-header {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 34px 64px 54px 36px;
}

.profile__edit-form-input::placeholder {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.profile__edit-form-input {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 13px;

  box-sizing: border-box;
  margin: 0 35px;
  outline: none;

  opacity: 0.7;

  font-weight: 600;
}

.profile__edit-form-input_name {
  margin-bottom: 29px;
}

.profile__edit-form-input_job {
  margin-bottom: 48px;
}

.profile__edit-form-button {
  padding: 13px 124px 18px;
  margin-bottom: 36px;
  border: none;
  cursor: pointer;

  font-size: 16px;
}

.profile__edit-form-button_save {
  background-color: transparent;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  align-self: center;
}

.profile__edit-form-button_save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  dialog {
    max-width: 282px;
  }

  .profile__edit-form-button {
    padding: 14px 92px;
    max-width: 238px;
    align-items: center;

    font-size: 14px;
  }

  .profile__edit-form-header {
    font-size: 18px;
  }
  .profile__close-button {
    top: -45px;
    right: 0;
  }

  .profile__close-icon {
    max-width: 24px;
  }
}
