.header {
  display: flex;
  max-width: 1280px;
  margin: 45px 200px 40px 200px;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  display: block;
  max-width: 173px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .header {
    margin: 45px 100px 40px 100px;
    padding-bottom: 41px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    width: 100%;
    margin: 28px 0 41px 0;
    padding-bottom: 41px;
  }

  .header__logo {
    margin-left: 27px;
    max-width: 126px;
    width: 100%;
  }
}
